body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: black;
}
.whole{
    background-color: salmon;
    width: 40%;
    height: 80%;
    border: 2rem solid salmon;
    border-radius: 1rem;
    margin: 2rem;

}
.choose{
    font-size: 1.5rem;
}
.choose select{
    background-color: salmon;
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    
}
.dna{
    background-color: salmon;
    font-size: 1.5rem;    
}
.dna input{
    background-color: whitesmoke;
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
    
}
.dna button{
    margin-top: 20px;
    background-color: red;
    border-radius: 2rem;
    font-size: 1rem;
    text-align: center;
}
.target{
    font-size: 1.1rem;
    text-align: center;
}
#particle-js{
    z-index: -1;
}